<!DOCTYPE html>
<!-- 
    CircleTable: Christopher Liu, Yusuf Elsharawy, Naomi Naranjo
    SoftDev
    K14 -- Form and Function
    2021-10-14

    Simple demo of HTML forms via Flask
 -->


<html>
    <head>
        <title> LOGIN PAGE </title>
    </head>

    <body>
        <h4>CircleTable - Yusuf Elsharawy, Christopher Liu, Naomi Naranjo</h4>
        <h1>
            Welcome, Travelers of the Intertoobz!
        </h1>
        <h3>
            Enter your username below to proceed.
        </h3>
        <form action="/auth">
            <input type="text" name="username">
            <input type="submit" name="sub1">
        </form>
        <br>
    </body>
</html>
